.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 25px 25px 25px;
  margin-bottom: 15px;
  position: relative;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__notice {
  width: 5px;
  height: 5px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 50px;
}
